
  <div class="col-4 py-2">
    <div class="card text">
      <div class="card-body">
        <h5 class="card-title"><%= movie.name %></h5>
        <strong>Esta pelicula se encuentra arrendada por: </strong><span><%= movie.client.name %></span><br>
        <%= link_to "Ver más", movie, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
