.color_nav{
    background-color: #0e3fa9;
    
}
.back{
    
    background-image:url("Blockbuster.png");
    background-repeat: no-repeat;
    height: auto;
}
.tab{
    border-style: solid;
    border-color: #0e3fa9;
    font-weight: bolder;
}

.tab_head{
    background-color: darkorange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}